.contenedor{
	background: url(https://4.bp.blogspot.com/-R1WaUskJr_s/TrxJoBiea9I/AAAAAAAAAVU/JAUoAJTDNY8/s1600/fondo+pantalla.jpg) no-repeat center ;
  	height: 100%;
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}